
/* ******** Webly Sleek FONTS ************ */

@font-face {
    font-family: 'Webly Sleek';
    src: url(/fonts/weblysleek/weblysleekuil-webfont.eot);
    src: url(/fonts/weblysleek/weblysleekuil-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/weblysleek/weblysleekuil-webfont.woff2) format("woff2"), url(/fonts/weblysleek/weblysleekuil-webfont.woff) format("woff"), url(/fonts/weblysleek/weblysleekuil-webfont.ttf) format("truetype"), url(/fonts/weblysleek/weblysleekuil-webfont.svg#weblysleek_uilight) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Webly Sleek Light';
    src: url(/fonts/weblysleek/weblysleekuil-webfont.eot);
    src: url(/fonts/weblysleek/weblysleekuil-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/weblysleek/weblysleekuil-webfont.woff2) format("woff2"), url(/fonts/weblysleek/weblysleekuil-webfont.woff) format("woff"), url(/fonts/weblysleek/weblysleekuil-webfont.ttf) format("truetype"), url(/fonts/weblysleek/weblysleekuil-webfont.svg#weblysleek_uilight) format("svg");
    font-weight: 100;
    font-style: normal
}


@font-face {
    font-family: 'Webly Sleek SemiLight';
    src: url(/fonts/weblysleek/weblysleekuisl-webfont.eot);
    src: url(/fonts/weblysleek/weblysleekuisl-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/weblysleek/weblysleekuisl-webfont.woff2) format("woff2"), url(/fonts/weblysleek/weblysleekuisl-webfont.woff) format("woff"), url(/fonts/weblysleek/weblysleekuisl-webfont.ttf) format("truetype"), url(/fonts/weblysleek/weblysleekuisl-webfont.svg#weblysleek_uisemilight) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Webly Sleek Italic';
    src: url(/fonts/weblysleek/weblysleekuili-webfont.eot);
    src: url(/fonts/weblysleek/weblysleekuili-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/weblysleek/weblysleekuili-webfont.woff2) format("woff2"), url(/fonts/weblysleek/weblysleekuili-webfont.woff) format("woff"), url(/fonts/weblysleek/weblysleekuili-webfont.ttf) format("truetype"), url(/fonts/weblysleek/weblysleekuili-webfont.svg#weblysleek_uilight_italic) format("svg");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'Webly Sleek SemiLight Italic';
    src: url(/fonts/weblysleek/weblysleekuisli-webfont.eot);
    src: url(/fonts/weblysleek/weblysleekuisli-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/weblysleek/weblysleekuisli-webfont.woff2) format("woff2"), url(/fonts/weblysleek/weblysleekuisli-webfont.woff) format("woff"), url(/fonts/weblysleek/weblysleekuisli-webfont.ttf) format("truetype"), url(/fonts/weblysleek/weblysleekuisli-webfont.svg#weblysleek_uisemilight_italic) format("svg");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'Webly Sleek Semibold Italic';
    src: url(/fonts/weblysleek/weblysleekuisbi-webfont.eot);
    src: url(/fonts/weblysleek/weblysleekuisbi-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/weblysleek/weblysleekuisbi-webfont.woff2) format("woff2"), url(/fonts/weblysleek/weblysleekuisbi-webfont.woff) format("woff"), url(/fonts/weblysleek/weblysleekuisbi-webfont.ttf) format("truetype"), url(/fonts/weblysleek/weblysleekuisbi-webfont.svg#weblysleek_uisemibold_italic) format("svg");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'Webly Sleek SemiBold';
    src: url(/fonts/weblysleek/weblysleekuisb-webfont.eot);
    src: url(/fonts/weblysleek/weblysleekuisb-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/weblysleek/weblysleekuisb-webfont.woff2) format("woff2"), url(/fonts/weblysleek/weblysleekuisb-webfont.woff) format("woff"), url(/fonts/weblysleek/weblysleekuisb-webfont.ttf) format("truetype"), url(/fonts/weblysleek/weblysleekuisb-webfont.svg#weblysleek_uisemibold) format("svg");
    font-weight: 700;
    font-style: normal
}
