// Typography
//$font-family: Roboto, "Helvetica Neue", sans-serif;
$font-family:  "Webly Sleek SemiLight", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-bold: "Webly Sleek SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif !default;;
$font-size-base: 1.4rem;

$body-bg: #cacaca;
$body-color: black;
$primary: #e27b21;
$primary-lines: #dadada;
$primary-background: #eeeeee;
$dark-hover: #2c2c2c;
$placeholder: #6c757d;

//BREAKPOINT MIXINS
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;







